<!DOCTYPE html>
<html>
  <head>
    <title>MIGRATION IN NAPAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
  </head>
  <body>
<div class ="header-bg">
</div>
   <div class= "logo">
   <div class="container">
       <div class="row">
           <div class="img-logo col-sm-4">
</div>
      <div class="title col-sm-8">
          <span>
              This maps Show the number of people migrating outside the Nepal for foreign employment.
          </span>
      </div>
       </div>
   </div>

 <div class="container">
      <div id="chart"></div>
    </div>

    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
  </body>
</html>